.change__password {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3rem 1.5rem;
}

.change__password__title {
  font-size: var(--font-size-h3-mobile);
  color: var(--cinza-azulado);
  margin: 0 0 2rem;
}

.change__password-form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 1rem;
  width: 270px;
}

.change__password-form > label {
  font-size: var(--placeholder-mobile);
  color: var(--cinza-azulado);
}

.change__password__input {
  width: 100%;
  background-color: var(--branco-acinzentado);
  border: 1px solid var(--verde-azulado);
  border-radius: 1rem;
  height: 2.5rem;
  margin: 1px 0 0;
  padding: 0 10px;
  color: var(--cinza-azulado);
  outline: none;
  font-size: var(--font-size-p-mobile);
}

.change__password__button {
  background-color: var(--laranja-escuro);
  width: 50%;
  border-radius: 1rem;
  align-self: center;
  margin: 2rem 0 0;
  border: 1px solid var(--branco);
  padding: 0.5rem 0;
  font-weight: 700;
  color: var(--branco);
  text-align: center;
  font-size: var(--font-size-p-mobile);
  line-height: 1.3;
}

@media only screen and (min-width: 768px) {
  .change__password__title {
    font-size: var(--font-size-h3-tablet);
  }

  .change__password-form > label {
    font-size: var(--placeholder-tablet);
  }

  .change__password__input {
    font-size: var(--font-size-p-tablet);
  }

  .change__password__button {
    font-size: var(--font-size-p-tablet);
  }
}

@media only screen and (min-width: 1024px) {
  .change__password__title {
    font-size: var(--font-size-h3-desktop);
  }

  .change__password-form > label {
    font-size: var(--placeholder-desktop);
  }

  .change__password__input {
    font-size: var(--font-size-p-desktop);
  }

  .change__password__button {
    font-size: var(--font-size-p-desktop);
  }
}
