.professional__experience {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 3rem 1.5rem;
}

.professional__experience-title {
  font-size: var(--font-size-h3-mobile);
  color: var(--cinza-azulado);
  margin: 0 0 2rem;
  text-align: center;
  text-transform: uppercase;
}

.professional__experience-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.professional__experience-form > label {
  font-size: var(--font-size-p-mobile);
  color: var(--black);
  line-height: 1.5;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  margin: 0 0 1rem;
  user-select: none;
}

.professional__experience-form label input,
.professional__experience-form label select {
  background-color: var(--branco-acinzentado);
  border-radius: 1rem;
  border: 1px solid var(--verde-azulado);
  font-size: var(--font-size-p-mobile);
  height: 2.5rem;
  outline: none;
  padding: 0 1rem;
  width: 100%;
  user-select: none;
}

.professional__responsability-textarea {
  height: 100px;
  width: 100%;
  border: 1px solid var(--verde-azulado);
  border-radius: 1rem;
  resize: none;
  outline: none;
  padding: 1rem;
}

label.professional__chargue-label {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  cursor: pointer;
}

.professional__chargue-label > input.professional__chargue-input {
  width: 25px;
  height: 25px;
  margin: 0 1rem 0 0;
  cursor: pointer;
}

@media only screen and (min-width: 768px) {
  .professional__experience-title {
    font-size: var(--font-size-h3-tablet);
  }

  .professional__experience-form {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
    justify-items: center;
  }

  .professional__responsability_description {
    grid-column: 1/3;
  }

  .professional__experience-form > label {
    font-size: var(--font-size-p-tablet);
    margin: 0;
  }

  .professional__experience-form label input,
  .professional__experience-form label select {
    font-size: var(--font-size-p-tablet);
  }
}

@media only screen and (min-width: 768px) {
  .professional__experience-title {
    font-size: var(--font-size-h3-desktop);
  }

  .professional__experience-form {
    width: 60%;
  }

  .professional__experience-form > label {
    font-size: var(--font-size-p-desktop);
    margin: 0;
  }

  .professional__experience-form label input,
  .professional__experience-form label select {
    font-size: var(--font-size-p-desktop);
  }
}
