


































































































@media (min-width: 768px) {
    .register-company__tittle {
        font-size: 1.688rem;
        color: var(--cinza-azulado);
        margin-top: 55px;
        margin-bottom: 55px;
    }

    .register-company__input {
        border-radius: 16px;
        margin-bottom: 25px;
        margin-left: 14px;
        border-color: var(--verde-azulado);
        height: 45px;
        width: 350px;
    }

    .register-company__button {
        border-radius: 16px;
        background-color: #F4A261;
        cursor: pointer;
        transition: all 0.3s ease;
        box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, .5),
            7px 7px 20px 0px rgba(0, 0, 0, .1),
            4px 4px 5px 0px rgba(0, 0, 0, .1);
        outline: none;
        position: relative;
        display: inline-block;
        width: 150px;
        height: 50px;
        text-align: center;
        color: var(--branco);
        margin-top: 25px;

    }
}