.vacant {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 3rem 1.5rem;
  gap: 2rem;
}

.vacant__title {
  font-size: var(--font-size-h2-mobile);
  text-transform: uppercase;
  color: var(--cinza-azulado);
  text-align: center;
  margin: 0 0 2rem;
}

.vacant__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

button.vacant__button {
  width: 200px;
  margin: 2rem 0 0 0;
}
