.vacant {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3rem 1.5rem;
}

.vacant__title {
  font-size: var(--font-size-h2-mobile);
  text-transform: uppercase;
  color: var(--cinza-azulado);
  text-align: center;
  margin: 0 0 2rem;
}

.vacant__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  margin: 0 0 2rem;
}

@media only screen and (min-width: 768px) {
  .vacant__container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
  }
}

@media only screen and (min-width: 1024px) {
  .vacant__container {
    grid-template-columns: repeat(3, 1fr);
  }
}
