.candidatures__tittle {
  text-align: center;
  padding: 2rem 0;
  font-size: 1.4rem;
}

.candidatures__container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.candidatures__box_jobs {
  background: var(--branco-acinzentado);
  width: 65%;
  border: 1px solid var(--roxo-claro);
  border-radius: 16px;
  padding: 0.5rem 0.5rem 0 0.5rem;
}

.candidatures__container .candidatures__box_jobs {
    margin-bottom: 1.5rem;
}

.candidatures__role {
  font-size: 22px;
  text-align: center;
}

.candidatures__city {
  font-size: 14px;
  font-weight: 600;
  text-align: center;
  margin-bottom: 0.5rem;
}

.candidatures__company {
  font-size: 12px;
  font-weight: 600;
  padding: 0.5rem 0 0.6rem;
}

.candidatures__job_description {
  font-size: 16px;
  padding: 0 0 0.8rem;
}

.candidatures__box_jobs:hover {
    background-color: var(--roxo-escuro);
    color: var(--branco);
}

.candidatures__box_input_job {
  text-align: center;
}

.candidatures__button_job {
  width: 120px;
  height: 25px;
  border-radius: 1rem;
  border: none;
  color: var(--branco);
  background-color: var(--laranja-escuro);
}

.candidatures__button_job:hover {
    background-color: var(--laranja-claro);
    color: black;
}

.candidatures__box_input_home {
  text-align: center;
  margin: 0.5rem 0 1.5rem;
}

.candidatures__button_home {
  font-size: 20px;
  font-weight: bold;
  width: 230px;
  height: 36px;
  border-radius: 1rem;
  border: none;
  background-color: var(--laranja-escuro);
  color: var(--branco);
}

.candidatures__button_home:hover {
    background-color: var(--laranja-claro);
    color: black;
}


/* Tablet */
@media (min-width: 768px) {

  .candidatures__tittle {
      font-size: 2rem;
      padding: 4rem;
    }
    
    .candidatures__container {
      flex-direction: row;
      justify-content: space-evenly;
    }
    
    .candidatures__box_jobs {
      width: 36%;
    }
    
    .candidatures__container .candidatures__box_jobs {
        margin-bottom: 3rem;
    }
    
    .candidatures__box_input_home {
      margin: 0.5rem 0 3rem;
    }
}

/* Desktop */
@media (min-width: 1024px) {

  .candidatures__tittle {
      font-size: 2.5rem;
      padding: 4rem;
    }
    
    .candidatures__container {
      flex-direction: row;
      justify-content: space-evenly;
    }
    
    .candidatures__box_jobs {
      width: 30%;
    }
    
    .candidatures__box_input_home {
      margin: 0.5rem 0 3rem;
    }
}

@media (min-width: 1115px) {
  .candidatures__box_jobs {
    width: 25%;
  }
}