.login {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3rem 1.5rem;
}

.login__image {
  width: 100px;
}

.login__title {
  font-size: var(--font-size-h3-mobile);
  color: var(--cinza-azulado);
  margin: 1rem 0;
}

.login__form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login__form > input {
  width: 270px;
  height: 40px;
  background-color: var(--branco-acinzentado);
  border: 1px solid var(--verde-azulado);
  border-radius: 1rem;
  padding: 0 0 0 1rem;
  outline: none;
}

.login__input_email {
  margin: 1rem 0;
}

.login__forgot_password {
  font-size: var(--span-mobile);
  margin: 6px 0 3rem;
  align-self: flex-end;
  line-height: 1.563rem;
  color: var(--roxo-escuro);
  letter-spacing: 0.5px;
}

input.login__button {
  width: 200px;
  padding: 0;
  text-align: center;
  background-color: var(--laranja-escuro);
  border: 1px solid var(--laranja-escuro);
  color: var(--branco);
  font-weight: 700;
  margin: 0 0 1rem;
  cursor: pointer;
  box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, 0.5),
    7px 7px 20px 0px rgba(0, 0, 0, 0.1), 4px 4px 5px 0px rgba(0, 0, 0, 0.1);
}

.login__register {
  font-size: var(--font-size-p-mobile);
  color: var(--cinza-escuro);
}

.login__register-link {
  text-decoration-line: none;
}

@media (min-width: 768px) {
  .login__image {
    display: block;
    align-items: center;
    width: 150px;
  }

  .login__title {
    font-size: var(--font-size-h2-tablet);
  }

  .login__input_email {
    margin-bottom: 25px;
  }

  .login__forgot_password {
    font-size: var(--span-tablet);
    cursor: pointer;
  }

  .login__register {
    font-size: 1rem;
  }
}

@media (min-width: 768px) {
  .login__title {
    font-size: var(--font-size-h2-desktop);
  }

  .login__forgot_password {
    font-size: var(--span-desktop);
    cursor: pointer;
  }

  .login__register {
    font-size: var(--font-size-p-desktop);
  }
}
