.about,
.objective {
  margin-top: 3.75rem;
  padding: 0 1.5rem;
}

.about__title,
.objective__title,
.services__title,
.virtues__title,
.partners_title,
.contact__title,
.partners__title {
  font-size: var(--font-size-h3-mobile);
  text-align: center;
  text-transform: uppercase;
  color: var(--cinza-azulado);
}

.about__paragraph {
  font-size: var(--font-size-p-mobile);
  color: var(--black);
  line-height: 1.4;
  text-align: center;
  margin-top: 30px;
  letter-spacing: 0.2px;
}

.objective__image {
  width: 100%;
  margin-top: 1.625rem;
  padding-bottom: 2rem;
}

.connection {
  padding: 2rem 1.5rem;
  background-color: var(--branco-acinzentado);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

.connection__container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.connection__container img {
  margin: 0 0 1rem 0;
}

.connection__container h4 {
  text-align: center;
  color: var(--cinza-azulado);
  text-transform: uppercase;
  margin-bottom: 0.5rem;
  font-size: var(--font-size-h4-mobile);
}

.connection p {
  font-size: var(--font-size-p-mobile);
  color: var(--black);
  text-align: center;
}

.services {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3rem 1.5rem;
}

.services__title {
  margin: 0 0 2rem;
}

.services__container a {
  text-decoration: none;
}

.services__companies_title,
.services__candidate_title {
  text-align: center;
  font-size: var(--font-size-h4-mobile);
  color: var(--black);
}

.services__companies img,
.services__candidate img {
  width: 100%;
  height: 100%;
  max-height: 16.813rem;
  border-radius: 1rem;
  margin-bottom: 3.125rem;
  object-fit: cover;
}

.services__candidate img {
  object-position: 0 15%;
}

.virtues {
  background-color: var(--branco-acinzentado);
  padding: 3rem 1.5rem;
}

.virtues__container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
}

.virtues__title {
  margin-bottom: 2rem;
}

.virtues__inclusion,
.virtues__empathy,
.virtues__respect {
  background-color: var(--branco);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  border-radius: 5px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  height: 250px;
  max-width: 310px;
}

.virtues__inclusion_title,
.virtues__empathy__title,
.virtues__respect__title {
  font-size: var(--font-size-h4-mobile);
  border-bottom: 1px solid #dfe3e5;
  width: 100%;
  text-align: center;
  padding-bottom: 1rem;
  font-weight: 700;
  line-height: 24px;
}

.virtues__inclusion h4 {
  color: var(--roxo-claro);
}

.virtues__empathy h4 {
  color: var(--verde-azulado);
}

.virtues__respect h4 {
  color: var(--roxo-escuro);
}

.virtues__inclusion_paragraph,
.virtues__empathy_paragraph,
.virtues__respect_paragraph,
.partners__list_container p {
  margin-top: 2rem;
  font-weight: 400;
  font-size: var(--font-size-p-mobile);
  line-height: 28px;
  text-align: center;
  color: var(--cinza-azulado);
}

.partners {
  padding: 3rem 1.5rem;
}

.partners__title {
  margin-bottom: 2rem;
}

.partners__list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.partners__list_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--branco-acinzentado);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  padding: 1rem;
  max-width: 310px;
}

.partners__image {
  width: 100px;
  border-radius: 50%;
  border: 1px solid var(--cinza-azulado);
}

.partners__list_container h3 {
  margin-top: 1rem;
}

.contact {
  background-color: var(--branco-acinzentado);
  padding: 3rem 1.5rem;
}

.contact__text {
  font-size: var(--font-size-p-mobile);
  color: var(--black);
  line-height: 1.4;
  text-align: center;
  margin-top: 30px;
}

/*------Tablet---------*/

@media only screen and (min-width: 768px) {
  .about,
  .objective {
    padding: 0 9rem;
  }

  .about__title,
  .objective__title,
  .services__title,
  .virtues__title,
  .partners_title,
  .contact__title,
  .partners__title {
    font-size: var(--font-size-h3-tablet);
  }

  .about__paragraph {
    font-size: var(--font-size-p-tablet);
  }

  .connection {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    gap: 4rem;
  }

  .connection__container h4 {
    font-size: var(--font-size-h4-tablet);
  }

  .connection__container p {
    font-size: var(--font-size-p-tablet);
  }

  .connection__container:nth-child(3) {
    grid-column: 1/3;
    width: 344px;
  }

  .services__container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 3rem;
  }

  .services__companies img,
  .services__candidate img {
    margin: 0;
    height: 200px;
  }

  .services__companies_title,
  .services__candidate_title {
    font-size: var(--font-size-h4-tablet);
    margin-bottom: 35px;
  }

  .contact__text {
    font-size: var(--font-size-p-tablet);
  }

  .virtues__respect {
    grid-column: 1/3;
  }

  .virtues__container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
  }

  .virtues__inclusion_title,
  .virtues__empathy__title,
  .virtues__respect__title {
    font-size: var(--font-size-h4-tablet);
  }

  .virtues__inclusion_paragraph,
  .virtues__empathy_paragraph,
  .virtues__respect_paragraph,
  .partners__list_container p {
    font-size: var(--font-size-p-tablet);
  }

  .partners__list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
  }

  .partners__list_container:nth-child(3) {
    grid-column: 1/3;
    margin: 2rem 0 0 0;
  }
}

/*------ Desktop ---------*/
@media only screen and (min-width: 1024px) {
  .about__title,
  .objective__title,
  .services__title,
  .virtues__title,
  .partners_title,
  .contact__title,
  .partners__title {
    font-size: var(--font-size-h3-desktop);
  }

  .about__paragraph {
    font-size: var(--font-size-p-desktop);
  }

  .objective {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .objective__image {
    width: 70%;
    margin: 4rem 0;
    padding-bottom: 2rem;
    border-radius: 60px;
  }

  .connection {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .connection__container h4 {
    font-size: var(--font-size-h4-desktop);
  }

  .connection__container p {
    font-size: var(--font-size-p-desktop);
  }

  .virtues__respect {
    grid-column: 1/3;
    width: 517px;
    place-self: center;
  }

  .virtues__inclusion_title,
  .virtues__empathy__title,
  .virtues__respect__title {
    font-size: var(--font-size-h4-desktop);
  }

  .virtues__inclusion_paragraph,
  .virtues__empathy_paragraph,
  .virtues__respect_paragraph,
  .partners__list_container p {
    font-size: var(--font-size-p-desktop);
  }

  .connection__container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .connection__container img {
    margin: 0 0 1rem 0;
  }

  .connection h4 {
    text-align: center;
    color: var(--cinza-azulado);
    text-transform: uppercase;
    margin-bottom: 0.5rem;
  }

  .connection__container:nth-child(3) {
    width: 540px;
  }

  .services__companies_title,
  .services__candidate_title {
    font-size: var(--font-size-h4-desktop);
  }

  .virtues__container {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .partners__list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 2rem;
  }

  .partners__list_container:nth-child(3) {
    margin: unset;
  }

  .contact__text {
    font-size: var(--font-size-p-desktop);
  }
}
