.vacant__box_info {
  background-color: var(--branco-acinzentado);
  border-radius: 1rem;
  width: 100%;
  max-width: 350px;
  min-height: 400px;
  user-select: none;
  outline: 4px solid transparent;
  transition: all 0.4s;
}

.vacant__box_info:hover {
  outline-color: var(--verde-azulado);
}

.vacant__box_info-header {
  background-color: var(--roxo-escuro);
  border-top-left-radius: inherit;
  border-top-right-radius: inherit;
  padding: 0.625rem 1.25rem;
}

.vacant__job_title {
  font-size: var(--font-size-h3-mobile);
  line-height: 1.5rem;
  font-weight: 600;
  text-align: start;
  color: var(--branco);
}

.vacant__localization {
  font-size: var(--span-mobile);
  color: var(--branco);
}

.vacant__description {
  min-height: 180px;
}

.vacant__description-container {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.vacant__description-empresa {
  font-size: var(--span-mobile);
  font-weight: 600;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  margin: 0 0 0.625rem;
  align-self: flex-start;
}

.vacant__description {
  font-size: var(--font-size-p-mobile);
  letter-spacing: 0.5px;
  text-align: justify;
  line-height: 1.2;
  margin: 0 0 1rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: pre-wrap;
}

.vacancies__containerButtons {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  margin: 1rem 0 0;
  width: 17rem;
}

@media only screen and (min-width: 768px) {
  .vacant__title {
    font-size: var(--font-size-h2-tablet);
  }

  .vacant__container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
  }

  .vacant__job_title {
    font-size: var(--font-size-h3-tablet);
  }

  .vacant__localization {
    font-size: var(--span-tablet);
  }

  .vacant__description-empresa {
    font-size: var(--span-tablet);
  }

  .vacant__description {
    font-size: var(--font-size-p-tablet);
  }

  .vacancies__containerButtons {
    flex-direction: row;
  }
}

@media only screen and (min-width: 1024px) {
  .vacant__title {
    font-size: var(--font-size-h2-desktop);
  }

  .vacant__container {
    grid-template-columns: repeat(3, 1fr);
  }

  .vacant__job_title {
    font-size: var(--font-size-h3-tablet);
  }

  .vacant__localization {
    font-size: var(--span-desktop);
  }

  .vacant__description-empresa {
    font-size: var(--span-desktop);
  }

  .vacant__description {
    font-size: var(--font-size-p-desktop);
  }
}
