.certifications {
  padding: 3rem 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.certifications__title {
  font-size: var(--font-size-h3-mobile);
  text-transform: uppercase;
  color: var(--cinza-azulado);
  margin: 0 0 2rem;
}

.certifications__form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.certifications__form > label {
  display: flex;
  flex-direction: column;
  font-size: var(--font-size-p-mobile);
  color: var(--cinza-azulado);
  font-weight: 600;
  width: 100%;
  margin: 0 0 1rem;
  line-height: 1.5;
}

.certifications__form > label > select,
.certifications__form > label > input {
  border-radius: 1rem;
  height: 40px;
  outline: none;
  border: 1px solid var(--verde-azulado);
  background-color: var(--branco-acinzentado);
  padding: 0 1rem;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.certifications__description-textarea {
  height: 150px;
  resize: none;
  padding-top: 15px;
  color: var(--cinza-escuro);
}

.certifications__description-textarea {
  width: 100%;
  border: 1px solid var(--verde-azulado);
  border-radius: 1rem;
  resize: none;
}

@media only screen and (min-width: 768px) {
  .certifications__title {
    font-size: var(--font-size-h3-tablet);
  }

  .certifications__form label {
    font-size: var(--font-size-p-tablet);
    margin: 0;
  }

  .certifications__form {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    justify-items: center;
    gap: 1rem;
  }

  .certifications__form > label > select,
  .certifications-institution_input {
    margin: 0;
    font-size: var(--font-size-p-tablet);
  }

  .certifications__description {
    grid-column: 1/3;
    max-width: 310px;
  }
}

@media only screen and (min-width: 1024px) {
  .certifications__tittle {
    font-size: var(--font-size-h3-desktop);
  }

  .certifications__form {
    width: 70%;
  }

  .certifications__form > label > select,
  .certifications-institution_input {
    font-size: var(--font-size-p-desktop);
  }
}
