.button__all {
  align-items: center;
  box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, 0.5),
    7px 7px 20px 0px rgba(0, 0, 0, 0.1), 4px 4px 5px 0px rgba(0, 0, 0, 0.1);
  background-color: var(--laranja-escuro);
  border: 1px solid var(--laranja-escuro);
  border-radius: 16px;
  color: var(--branco);
  cursor: pointer;
  display: flex;
  font-size: var(--font-size-p-mobile);
  font-weight: 700;
  height: 40px;
  justify-content: center;
  width: 170px;
}

.btn-edit {
  background-color: var(--verde-azulado);
  border: none;
}

.btn-delete {
  background-color: #f17171;
  border: none;
}

.btn-open {
  background-color: #51b151;
  border: none;
}
