.button__all {
  align-items: center;
  background-color: var(--laranja-escuro);
  border: none;
  border-radius: 16px;
  color: var(--branco);
  cursor: pointer;
  display: flex;
  font-size: var(--font-size-p-mobile);
  font-weight: 700;
  height: 40px;
  justify-content: center;
  transition: all 0.4s;
}

.button__all:hover {
  opacity: 0.8;
}

.button__all:active {
  box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, 0.5),
    7px 7px 20px 0px rgba(0, 0, 0, 0.1), 4px 4px 5px 0px rgba(0, 0, 0, 0.1);
}

.btn-edit {
  background-color: var(--verde-azulado-escuro);
  border: none;
}

.btn-delete {
  background-color: var(--vermelho);
  border: none;
}

.btn-open {
  background-color: var(--verde-claro);
  border: none;
}

.logout {
  background-color: var(--vermelho);
}
