.company {
  padding: 3rem 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.company__tittle {
  font-size: var(--font-size-h3-mobile);
  text-align: center;
  text-transform: uppercase;
  color: var(--cinza-azulado);
}

.company__container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.company__list__ul {
  margin: 2rem 0;
  list-style: none;
}

.company__list__ul li {
  font-size: var(--font-size-p-mobile);
  line-height: 1.2;
}

.buttons__company-container {
  display: flex;
  flex-direction: column;
  align-self: center;
  gap: 1rem;
}

.buttons__company {
  align-items: center;
  box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, 0.5),
    7px 7px 20px 0px rgba(0, 0, 0, 0.1), 4px 4px 5px 0px rgba(0, 0, 0, 0.1);
  background-color: var(--laranja-escuro);
  border: 1px solid var(--laranja-escuro);
  border-radius: 16px;
  color: var(--branco);
  cursor: pointer;
  display: flex;
  font-size: var(--font-size-p-mobile);
  font-weight: 700;
  height: 40px;
  justify-content: center;
  width: 170px;
  text-decoration: none;
}

/*--------Tablet-------*/

@media (min-width: 768px) {
  .company__list__ul li {
    font-size: var(--font-size-p-tablet);
  }

  .company__tittle {
    font-size: var(--font-size-h3-tablet);
  }

  .buttons__company-container {
    flex-direction: row;
  }

  .buttons__company {
    font-size: var(--font-size-p-tablet);
  }
}

/*--------Desktop-------*/

@media (min-width: 1024px) {
  .company__tittle {
    font-size: var(--font-size-h3-desktop);
  }

  .company__list__ul li {
    font-size: var(--font-size-p-desktop);
  }
}
