.header {
  background-color: var(--verde-azulado);
  padding: 1.5rem;
}

.header__nav {
  position: relative;
  display: flex;
  justify-content: space-evenly;
}

.header__nav nav {
  width: 0;
}

.header__div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header__img {
  width: 60px;
}

.navbar {
  width: 100%;
}

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 62px;
}

.navbar .nav-container li {
  list-style: none;
}

.navbar .nav-container a {
  text-decoration: none;
  color: #fff;
  font-weight: 500;
  font-size: 1.2rem;
  padding: 0.7rem;
}

.navbar .nav-container a:hover {
  font-weight: bolder;
}

.nav-container {
  height: 60px;
}

.nav-container .checkbox {
  position: absolute;
  display: block;
  height: 32px;
  width: 32px;
  top: 0px;
  left: 0px;
  z-index: 5;
  opacity: 0;
  cursor: pointer;
}

.nav-container .hamburger-lines {
  display: block;
  height: 26px;
  width: 32px;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.nav-container .hamburger-lines .line {
  display: block;
  height: 4px;
  width: 100%;
  border-radius: 10px;
  background: var(--branco);
}

.nav-container .hamburger-lines .line1 {
  transform-origin: 0% 0%;
  transition: transform 0.4s ease-in-out;
}

.nav-container .hamburger-lines .line2 {
  transition: transform 0.2s ease-in-out;
}

.nav-container .hamburger-lines .line3 {
  transform-origin: 0% 100%;
  transition: transform 0.4s ease-in-out;
}

.header__ul {
  align-items: center;
  background-color: var(--verde-azulado);
  display: flex;
  flex-direction: column;
  transform: translate(-300px);
  transition: transform 0.5s ease-in-out;
  position: absolute;
  left: -24px;
  height: 100vh;
  top: 30px;
}

.header__ul li {
  margin: 22px 0;
}

.navbar .menu-items li > a {
  font-size: 1.3rem;
  font-weight: 600;
  color: var(--branco);
}

.nav-container input[type="checkbox"]:checked ~ .menu-items {
  transform: translateX(0);
}

.nav-container input[type="checkbox"]:checked ~ .hamburger-lines .line1 {
  transform: rotate(45deg);
}

.nav-container input[type="checkbox"]:checked ~ .hamburger-lines .line2 {
  transform: scaleY(0);
}

.nav-container input[type="checkbox"]:checked ~ .hamburger-lines .line3 {
  transform: rotate(-45deg);
}

input[type="checkbox"]:checked ~ .menu-items {
  width: 100vw;
}

.header_title {
  font-size: 1.625rem;
  color: var(--roxo-escuro);
  margin: 0 0 0 0.5rem;
}

.header_subtitle {
  font-size: var(--font-size-h2-mobile);
  color: var(--branco);
  text-align: center;
  margin-top: 2rem;
}

.header__paragraph {
  font-size: var(--font-size-p-mobile);
  color: var(--branco);
  text-align: center;
  margin-top: 2rem;
}

@media (max-width: 320px) {
  .header__nav {
    flex-direction: column;
    margin: -10px 0 0 0;
  }

  .header_title {
    font-size: 1.375rem;
  }

  .header__ul li {
    margin: 16px 0;
  }
}

@media (min-width: 375px) {
  .header__div {
    margin: 40px 0 0 0;
  }
}

@media (min-width: 412px) {
}


/*-----Tablet--------*/

@media (min-width: 768px) {

  .header__img {
    width: 80px;

}
  .navbar .menu-items {
   display:contents;
  }
  
  .nav-container {
    display: flex;
    justify-content:center;
  }

  .navbar .menu-items li a{
    font-size: 1.1rem;
    font-weight: 400;
    color: var(--branco);
    margin-bottom: 1.2rem;
  }

  .header_title {
  font-size: 2.400rem;
  margin: 0 0 0 0.5rem;
  padding-bottom: 2rem;
  padding-top: 2rem;
  }

  .header__paragraph {
    font-size: 0.9rem;
    padding-bottom: 1.5rem;
  }

  .nav-container .hamburger-lines {
    display: none;
  }

  .header__navbar_button{
    border-radius:16px;
    background-color: #F4A261;
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow:inset 2px 2px 2px 0px
    rgba(255,255,255,.5),
    7px 7px 20px 0px rgba(0,0,0,.1),
    4px 4px 5px 0px rgba(0,0,0,.1);
    outline: none;
    position: relative;
    display: inline-block;
    width: 100px;
    height: 40px;
    text-align: center;
    margin-left: 100px;
    margin-top: 15px;

} } 







/* Desktop */
@media (min-width: 1024px) {
  .header__nav {
    /* position: relative; */
    display: flex;
    /* justify-content: space-evenly; */
  }

  .header__img {
    width: 120px;
    position: absolute;
    left: 4rem;
    top: 2rem;
  }
  
  .navbar .menu-items {
    margin: 3.7rem 0 0 13.4rem;
    align-items: center;
    /* justify-content: end; */
  }

  .navbar .nav-container a {
    /* color: #ffffff */
    /* font-size: 1.2rem; */
    padding: 0;
  }

    #login {
      /* display: none; */
    /* color: #ffffff;
    border: 1px solid #ffffff;
    border-radius: 16px;
    padding: 6px 16px 0 30px;
    width: 120px;
    height: 36px;
    background: #F4A261; */
    /* padding: 0;
    margin: 0; */
  }

  .header__navbar_button {
    margin-left: 0rem;
    padding: 0;
    width: 120px;
    height: 36px;
    border: 1px solid #ffffff;
  }

  .nav-container .checkbox {
    display: none;
  }
  
  .nav-container .hamburger-lines {
    display: none;
  }
  
  .navbar .menu-items {
    display: flex;
    flex-direction: row;
    padding: 0;
    margin-top: 2rem;
    margin-right: 2rem;
    height: 0;
    transform: none;
    /* justify-content: flex-end; */
  }

  .header__ul {
    position: relative;
  }
  
  .navbar .menu-items li {
    margin-left: 1.5rem;

    font-size: 1.2rem;
    font-weight: 600;
  }

  .header_title {
    font-size: 3rem;
    margin-top: -3rem;
  }
  
  .header_subtitle {
    font-size: 2rem;
    margin: auto;
    text-transform: uppercase;
    width: 600px;
  }
  
  .header__paragraph {
    width: 800px;
    font-size: 1.3rem;
    margin: auto;
    padding: 2rem 0 2rem 0;
  }
}