:root {
  --verde-azulado: #05bfdb;
  --roxo-escuro: #7028df;
  --roxo-claro: #b04cd9;
  --laranja-escuro: #f4a261;
  --laranja-claro: #ffae90;
  --branco: #ffffff;
  --cinza-azulado: #484b5a;
  --cinza-escuro: #7c7c7c;
  --black: #000000;
  --branco-acinzentado: #e4e4e4;

  --font-family: "Montserrat", sans-serif;

  --font-size-h1-mobile: 1.5rem; /* 24px */
  --font-size-h2-mobile: 1.25rem; /* 20px */
  --font-size-h3-mobile: 1.125rem; /* 18px */
  --font-size-h4-mobile: 1rem; /* 16px */
  --font-size-p-mobile: 0.875rem; /* 14px */
  --placeholder-mobile: 0.875rem; /* 14px */
  --span-mobile: 0.75rem; /* 12px */

  --font-size-h1-tablet: 2rem; /* 32px */
  --font-size-h2-tablet: 1.5rem; /* 24px */
  --font-size-h3-tablet: 1.25rem; /* 20px */
  --font-size-h4-tablet: 1.125rem; /* 18px */
  --font-size-p-tablet: 1rem; /* 16px */
  --placeholder-tablet: 1rem; /* 16px */
  --span-tablet: 0.875; /* 14px */

  --font-size-h1-desktop: 2.5rem; /* 40px */
  --font-size-h2-desktop: 2rem; /* 32px */
  --font-size-h3-desktop: 1.5rem; /* 24px */
  --font-size-h4-desktop: 1.25rem; /* 20px */
  --font-size-p-desktop: 1.125rem; /* 18px */
  --placeholder-desktop: 1.125rem; /* 18px */
  --span-desktop: 1rem; /* 16px */
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--font-family);
  font-size: 16px;
}
