:root {
  --verde-azulado: #05bfdb;
  --roxo-escuro: #7028df;
  --roxo-claro: #b04cd9;
  --laranja-escuro: #f4a261;
  --laranja-claro: #ffae90;
  --branco: #ffffff;
  --cinza-azulado: #484b5a;
  --cinza-escuro: #7c7c7c;
  --black: #000000;
  --branco-acinzentado: #e4e4e4;
  

  --font-family: "Montserrat", sans-serif;
  --font-size-h1-mobile: 1.625rem;
  --font-size-h2-mobile: 1.5rem;
  --font-size-h3-mobile: 1.25rem;
  --font-size-p-mobile: 1rem;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-size: 16px;
  font-family: var(--font-family);
}
